{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/authenticate/side-bar.css' %}">

    <script>

        function handleItemClick(clickedItem) {
            const allItems = document.querySelectorAll('.item');
            allItems.forEach(item => {
                item.classList.remove('clicked');
            });
            clickedItem.classList.add('clicked');
        }

        document.addEventListener('DOMContentLoaded', function() {
            const firstItem = document.querySelector('.item');
            handleItemClick(firstItem);
        });
        
    </script>
    
{% endblock %}

<div class="side-nav-bar">
    <div class="content">
        <div class="important">
            <div class="item" onclick="handleItemClick(this)">
                <img src="{% static 'images/home.png'%}" alt="Home icon">
                <a href="/">Home</a>
            </div>
            <div class="item" onclick="handleItemClick(this)">
                <img src="{% static 'images/message.png'%}" alt="Home icon">
                <a href="#">Questions</a>
            </div>
            <div class="item" onclick="handleItemClick(this)">
                <img src="{% static 'images/supermarket.png'%}" alt="Home icon">
                <a href="#">Tags</a>
            </div>
        </div>
        <div class="others">
            <div class="item" onclick="handleItemClick(this)">
                <img src="{% static 'images/bookmark.png'%}" alt="Home icon">
                <a href="#">Saves</a>
            </div>
            <div class="item" onclick="handleItemClick(this)">
                <img src="{% static 'images/group.png'%}" alt="Home icon">
                <a href="#">Users</a>
            </div>
            <div class="item" onclick="handleItemClick(this)">
                <img src="{% static 'images/companies.png'%}" alt="Home icon">
                <a href="#">Companies</a>
            </div>
        </div>
        <div class="collectives">
            <p>COLLECTIVES</p>
            <i class="fa-solid fa-plus" style="cursor: pointer;"></i>
        </div>
        <div class="explore-collectives ">
            <i class="fa-solid fa-bahai" style="color: rgb(255, 115, 0);"></i>
    
            <p>Explore collectives</p>
        </div>
    
        <div class="labs">
            <p>LABS</p>
            <i class="fa-solid fa-circle-info" style="cursor: pointer;"></i>
        </div>
        <div class="discussion">
            <i class="fa-solid fa-message" style="color: grey; cursor: pointer;"></i>
            <p>Discussions</p>
        </div>
    
        <div class="teams">
            <p>TEAMS</p>
            <i class="fa-solid fa-plus" style="cursor: pointer;"></i>
        </div>
        <div class="create-team">
           <div class="icon">
            <img src="{% static 'images/yello-suitcase.jpg'%}" alt="Home icon">
            <p>Create Free Team</p>
           </div> 
        </div>
        <button class="btn" type="button">Looking for your Teams?</button>
    </div>
</div>