.header-container {
    height: 50px;
    display: flex;
    border-top: 3px solid orange;
    border-bottom: 1px solid #c1c9d1;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.header-content{
    width: fit-content;
    display: flex;
    align-items: center;
}

.hamburger{
    height: 40px;
    width: 40px;
    color: black;
    background-color: burlywood;
}
.stackflow{
    width: fit-content;
}
.stackflow img{
    height: 60px;
    align-self: center;
}
.options{
    display: flex;
    /* width: 230px; */
    margin: 0 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.product a {
    font-size: 14px;
    font-weight: 400;
    color: #867474;
    text-decoration: none;
}
.product{
    height: 23px;
    padding: 3px 10px 0;
}

.product:hover {
    background: #f1f2f3;
    border-radius: 20px;
}


.search-container {
    height: 30px;
    width: 35vw;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 45px;
}
.search-icon img {
    height: 25px;
    width: 25px;
    margin-left: -35px;
    margin-top: 5px;
}
.search-input {
    border: none;
    background: transparent;
    outline: 0;
    width: 33vw;
    font-size: 14px;
    color: #333;
  }
.logged-in img{
    margin: 0 10px;
}
.stack-exchanfe-dropdown{
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.ul-content{
    background-color: #c1c9d1;
    position: absolute;
    top: 50px;
    right: 18vw;
    display: none;
    border: 3px solid #f1f2f3;
    /* box-shadow: 2px 2px 2px #867474; */
}
.ul-heading{
    height: 20px;
    width: 18vw;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    text-align: left;
    color: rgb(99, 99, 241);
    background-color: rgb(240, 247, 255);
}
.ul-items-container{
    background-color: rgb(215, 215, 255)
}
.logout-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.div-one{
    display: flex;
    align-items: center;
}
.div-two{
    display: flex;
    align-items: center;
    padding-right: 8px;
}
.div-two a{
    color: rgb(99, 99, 241);
    padding: 0 5px;
    text-decoration: none;
}
.meta-stack-over-flow{
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-bottom: 20px;
}
.your-com{
    background-color: #ffffff !important;
    padding: 10px 0;
}