body{
    background-color: #f1f2f3;
}
.login-container{
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.login-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    width: 60px;
    height: 60px;
}
.github, .google, .facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 5px 0;
    border-radius: 10px;
}
.form{
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.label{
    font-size: 16px;
    font-weight: bold;
}
.form-data{
    padding: 20px;
    padding-right: 30px;

}
button{
    background-color: #1b75d0;
    height: 35px;
    width: 100%;
    /* border: 1px solid #b4bdc7; */
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: medium;
}
.go_to_sign_up{
    font-size: 13px;
    padding-top: 20px;
}
input{
    height: 35px;
    width: 100%;
    margin: 15px 0;
    padding-left: 10px;
    border: 1px solid #b4bdc7;
    border-radius: 10px;
}
/* laptop  */
@media only screen and (min-width: 1024px){

    .github, .google, .facebook{
        width: 17vw;
    }
    .form{
        width: 17vw;
    }
}

/* mobile  */
@media only screen and (max-width: 767px){
    .form{
        width: 70vw;
    }
    .github, .google, .facebook{
        width: 70vw;
    }
}

/* tablet  */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .form{
        width: 40vw;
    }
    .github, .google, .facebook{
        width: 40vw;
    }
}